/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}



.Yellow_text{
  color: yellow;
  font-size: x-large
}

.white-text{
  color: white;
  font-size: larger;
}

.inner-box{
  background-color: red;
 
}

#outer-box{
  border: 20px solid purple;
  padding: 10px;
}

